<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>


<body>




<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!--<form id=“xForm" onsubmit="onSubmit()">-->
<form id=“xForm" onsubmit="return false">
    <p>
        <label for='firstname'>First name:</label>
        <input type="text" name="firstname" id="firstname" value="Mickey">
    </p>
    <p>
        <label for='lastname'>Last name:</label>
        <input type="text" name="lastname" id="lastname" value="Mouse">
    </p>
    <p>
        <label for='birthyear'>Year of Birth:</label>
        <input type="number" name="birthyear" id="birthyear" value="1900">
    </p>
    <p>
        <input type="button" name="xFormbutton" value="Submit" id="xFormbutton">
    </p>
</form>


<form id="sForm" onsubmit="return false" method="get">
    <input type="text" name="keyword" id="keyword">
    <input type="button" name="search" id="search" value="check">
</form>


<label id="ajaxData"></label>
<br/>
<img src="/upload_images/nihendeyia.jpg"/>
</body>


</html>
