<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title><%= title%></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--StyleSheets-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="/stylesheets/one-page-wonder.min.css" rel="stylesheet">
    <link href="/stylesheets/uploadPage.css" rel="stylesheet">

    <!-- Core JavaScript -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI87YwMOnQw5W3HgQ7A-x60FBNXpR8lKU&callback=initMap">
    </script>
    <script src="/javascripts/upload.js"></script>
</head>


<body style="height: 100%">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:3000">HOME PAGE</a>
        <a class="navbar-brand" href="http://localhost:3000/upload">UPLOAD RESTAURANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive"></div>

    </div>
</nav>

<!--Header-->
<header id="head" class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Adding new restaurant</h1>
            <h4 class="masthead-heading mb-3">Restaurant information</h4>
            <!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
        </div>

        <!--Search-->
        <br>
        <div>
            <div class="container-fluid" align="center">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" id="form_div">


                            <form id="uploadForm">

                                <input type="text" name="restaurant_name" id="restaurant_name" class="form-control" placeholder="Restaurant name">
                                <br>
                                <input type="text" name="address" id="address" class="form-control" placeholder="Address">
                                <br>
                                <input type="text" name="type_of_cuisine" id="type_of_cuisine" class="form-control" placeholder="Cuisine type">
                                <br>
                                <input type="text" name="restaurant_rating" id="restaurant_rating" class="form-control" placeholder="Restaurant rating">
                                <br>
                                <textarea type="text" name="description" id="description" class="form-control" placeholder="Write some description in here..."
                                cols="2" rows="10"></textarea>
                                <br>
                                <label for="official_photo">Choose photos: </label>
                                <input type="file" name="official_photo" id="official_photo" class="btn-danger">
                                <br>
                                <br>
                                <label for="lat">lat</label>
                                <input disabled type="text"  name="lat" id="lat">
                                <label for="lng">lng</label>
                                <input disabled type="text"  name="lng" id="lng">
                                <br>
                                <br>
                                <input type="submit" name="uploadFormButton" value="Submit" id="uploadFormButton" class="btn btn-success">
                            </form>
                            <br>

                            <button id="getCor" class="btn btn-warning">Get Coordinates</button>
                            <br>
                            <br>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>

    <div id="ajaxData"></div>
</header>

<div class="container-fluid" style="height: 90%;padding: 0">
    <div class="row" style="height: 100%;padding: 0">
        <div class="col-md-8" style="height: 100%;padding: 0">
            <div id="map" style="height: 100%"></div>
        </div>
        <div class="col-md-4" style="height: 100%;padding: 0;background-color: #1b1e21">
            <p id='map_notice' class='font-weight-normal display-4'>Drop the marker on destination to get coordinates</p>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container" id="endbar">
        <p class="m-0 text-center text-white small">The University of Sheffield / Department of Computer Science
            Copyright &copy; TEAM Original 2018</p>
    </div>
    <!-- /.container -->
</footer>

</body>